body {
    background-color: #282828;
    color: #ebdbb2;
}

h1 {
    color: #83a598;
}

h1 {
    color: #d65d03;
}

table, th, td {
    border: 1px solid #504945;
    text-align: left;
}

table {
    width: 50%;
}

th {
    color: #d65d03;
}
